<project>
<actions/>
<description/>
<keepDependencies>false</keepDependencies>
<properties/>
<scm class="hudson.plugins.git.GitSCM" plugin="git@4.7.2">
<configVersion>2</configVersion>
<userRemoteConfigs>
<hudson.plugins.git.UserRemoteConfig>
<url>https://github.com/chyrka/Java_test</url>
<credentialsId>gcp-jenkins</credentialsId>
</hudson.plugins.git.UserRemoteConfig>
</userRemoteConfigs>
<branches>
<hudson.plugins.git.BranchSpec>
<name>*/master</name>
</hudson.plugins.git.BranchSpec>
</branches>
<doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
<submoduleCfg class="empty-list"/>
<extensions/>
</scm>
<canRoam>true</canRoam>
<disabled>false</disabled>
<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
<triggers/>
<concurrentBuild>false</concurrentBuild>
<builders>
<hudson.tasks.Maven>
<targets>package -DskipTests=true</targets>
<mavenName>mvn</mavenName>
<pom>pom.xml</pom>
<usePrivateRepository>false</usePrivateRepository>
<settings class="jenkins.mvn.DefaultSettingsProvider"/>
<globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
<injectBuildVariables>false</injectBuildVariables>
</hudson.tasks.Maven>
<sp.sd.nexusartifactuploader.NexusArtifactUploader plugin="nexus-artifact-uploader@2.13">
<nexusVersion>nexus3</nexusVersion>
<protocol>http</protocol>
<nexusUrl>34.133.235.108:8081</nexusUrl>
<groupId>${POM_GROUPID}</groupId>
<version>${POM_VERSION}</version>
<repository>gcp-java-project</repository>
<artifacts>
<sp.sd.nexusartifactuploader.Artifact>
<artifactId>${POM_ARTIFACTID}</artifactId>
<type>pom</type>
<classifier/>
<file>pom.xml</file>
</sp.sd.nexusartifactuploader.Artifact>
</artifacts>
<credentialsId>nexus-user</credentialsId>
</sp.sd.nexusartifactuploader.NexusArtifactUploader>
<hudson.tasks.Shell>
<command>#mvn clean test #mvn archetype:generate -DarchetypeGroupId=org.glassfish.jersey.archetypes -DarchetypeArtifactId=hello-world-webapp #javac HelloWorld.java #java HelloWorld</command>
<configuredLocalRules/>
</hudson.tasks.Shell>
</builders>
<publishers/>
<buildWrappers/>
</project>